<b> The result of <%= @num1 %> <%= @operation %> <%= @num2 %> is:<br>

<%= @result %>

<form action="/operation" method="POST">
	<p>
	<label for="num1">Do this:  </label>
	<input type="text" name= "num1">
	By<br> 
	<label for="num2">This:  </label>
	<input type="text" name= "num2"><br>
	<input name ="operation" type ="submit" value ="*"><br>
	<input name ="operation" type ="submit" value ="/"><br>
	<input name ="operation" type ="submit" value ="+"><br>
	<input name ="operation" type ="submit" value ="-"><br>
	</p>
</form>
